.event-highlight-badge {
    padding: 2px 4px;

    display: inline-flex;

    align-items: center;
    gap: 4px;

    border-radius: 4px;

    user-select: none;
    cursor: default;
}

.event-highlight-badge.after {
    background-color: var(--background-secondary-alt);
    color: var(--mono-rgb-255);
}

.event-highlight-badge.before {
    background-color: rgba(var(--color-green-rgb), 0.2);
    color: var(--color-green);
}

.event-highlight-badge.upcoming {
    background-color: rgba(var(--color-yellow-rgb), 0.2);
    color: var(--color-yellow);
}

.event-highlight-badge.actual {
    background-color: rgba(var(--color-purple-rgb), 0.2);
    color: var(--color-purple);

    font-weight: bold;
}

.event-highlight-badge.error {
    background-color: rgba(var(--color-red-rgb), 0.2);
    color: var(--color-red);

    font-weight: bold;
}

.event-highlight-badge .icon {
    display: inline-flex;

    align-items: center;
}
