.event-highlight-container {
    display: inline-flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 6px;

    border: 1px solid transparent;
    border-radius: 4px;
}

.event-highlight-text {
    margin: 6px;
    margin-bottom: 0;

    color: var(--text-normal);
}

.event-highlight-badge {
    padding: 2px 4px;

    display: inline-flex;

    align-items: center;
    gap: 4px;

    border-radius: 4px;

    user-select: none;
    cursor: default;
}

.event-highlight-badge.with-text {
    width: 100%;

    border-radius: 0 0 4px 4px;
}

.event-highlight-badge.after {
    background-color: var(--background-secondary-alt);
    color: var(--mono-rgb-255);
}

.event-highlight-container.after {
    border-color: var(--background-secondary-alt);
}

.event-highlight-badge.before {
    background-color: rgba(var(--color-green-rgb), 0.2);
    color: var(--color-green);
}

.event-highlight-container.before {
    border-color: rgba(var(--color-green-rgb), 0.2);
}

.event-highlight-badge.upcoming {
    background-color: rgba(var(--color-yellow-rgb), 0.2);
    color: var(--color-yellow);
}

.event-highlight-container.upcoming {
    border-color: rgba(var(--color-yellow-rgb), 0.2);
}

.event-highlight-badge.actual {
    background-color: rgba(var(--color-purple-rgb), 0.2);
    color: var(--color-purple);

    font-weight: bold;
}

.event-highlight-container.actual {
    border-color: rgba(var(--color-purple-rgb), 0.2);
}

.event-highlight-badge.error {
    background-color: rgba(var(--color-red-rgb), 0.2);
    color: var(--color-red);

    font-weight: bold;
}

.event-highlight-container.error {
    border-color: rgba(var(--color-red-rgb), 0.2);
}

.event-highlight-badge .icon {
    display: inline-flex;

    align-items: center;
}
